/* Font Definitions */
@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica.woff') format('woff'),
         url('../font/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../font/Helvetica-Bold.woff') format('woff'),
         url('../font/Helvetica-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('../font/Helvetica-Light.woff') format('woff'),
         url('../font/Helvetica-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-Black';
    src: url('../font/Helvetica-Black.woff') format('woff'),
         url('../font/Helvetica-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-BlackCondensed';
    src: url('../font/Helvetica-BlackCondensed.woff') format('woff'),
         url('../font/Helvetica-BlackCondensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-BlackCondensedOblique';
    src: url('../font/Helvetica-BlackCondensedOblique.woff') format('woff'),
         url('../font/Helvetica-BlackCondensedOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-BlackOblique';
    src: url('../font/Helvetica-BlackOblique.woff') format('woff'),
         url('../font/Helvetica-BlackOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-BoldCondensed';
    src: url('../font/Helvetica-BoldCondensed.woff') format('woff'),
         url('../font/Helvetica-BoldCondensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-BoldCondensedOblique';
    src: url('../font/Helvetica-BoldCondensedOblique.woff') format('woff'),
         url('../font/Helvetica-BoldCondensedOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-BoldNarrowOblique';
    src: url('../font/Helvetica-BoldNarrowOblique.woff') format('woff'),
         url('../font/Helvetica-BoldNarrowOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-Condensed';
    src: url('../font/Helvetica-Condensed.woff') format('woff'),
         url('../font/Helvetica-Condensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-CondensedBoldOblique';
    src: url('../font/Helvetica-CondensedBoldOblique.woff') format('woff'),
         url('../font/Helvetica-CondensedBoldOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-CondensedOblique';
    src: url('../font/Helvetica-CondensedOblique.woff') format('woff'),
         url('../font/Helvetica-CondensedOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-CondensedRegular';
    src: url('../font/Helvetica-CondensedRegular.woff') format('woff'),
         url('../font/Helvetica-CondensedRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-ExtraCompressedRegular';
    src: url('../font/Helvetica-ExtraCompressedRegular.woff') format('woff'),
         url('../font/Helvetica-ExtraCompressedRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-InsertRoman';
    src: url('../font/Helvetica-InsertRoman.woff') format('woff'),
         url('../font/Helvetica-InsertRoman.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-LightCondensed';
    src: url('../font/Helvetica-LightCondensed.woff') format('woff'),
         url('../font/Helvetica-LightCondensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-LightOblique';
    src: url('../font/Helvetica-LightOblique.woff') format('woff'),
         url('../font/Helvetica-LightOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-NarrowBold';
    src: url('../font/Helvetica-NarrowBold.woff') format('woff'),
         url('../font/Helvetica-NarrowBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-NarrowOblique';
    src: url('../font/Helvetica-NarrowOblique.woff') format('woff'),
         url('../font/Helvetica-NarrowOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-NarrowRoman';
    src: url('../font/Helvetica-NarrowRoman.woff') format('woff'),
         url('../font/Helvetica-NarrowRoman.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-Oblique';
    src: url('../font/Helvetica-Oblique.woff') format('woff'),
         url('../font/Helvetica-Oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-RoundedBlack';
    src: url('../font/Helvetica-RoundedBlack.woff') format('woff'),
         url('../font/Helvetica-RoundedBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-RoundedBold';
    src: url('../font/Helvetica-RoundedBold.woff') format('woff'),
         url('../font/Helvetica-RoundedBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-RoundedBoldOblique';
    src: url('../font/Helvetica-RoundedBoldOblique.woff') format('woff'),
         url('../font/Helvetica-RoundedBoldOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-RoundedCondensedBold';
    src: url('../font/Helvetica-RoundedCondensedBold.woff') format('woff'),
         url('../font/Helvetica-RoundedCondensedBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-RoundedLTStdBoldCondensedOblique';
    src: url('../font/Helvetica-RoundedLTStdBoldCondensedOblique.woff') format('woff'),
         url('../font/Helvetica-RoundedLTStdBoldCondensedOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-RoundedBoldCondensedOblique';
    src: url('../font/Helvetica-RoundedBoldCondensedOblique.woff') format('woff'),
         url('../font/Helvetica-RoundedBoldCondensedOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-UltraCompressed';
    src: url('../font/Helvetica-UltraCompressed.woff') format('woff'),
         url('../font/Helvetica-UltraCompressed.ttf') format('truetype');
}
